.App .container {
  background-color: #f0eedf;
  padding: 40px;
  margin: 20px 80px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App header {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.App footer {
  text-align: center;
  margin: 30px auto;
}

.App a {
  color: #5f7055;
}
